## 1. Complete the following code to find the area of an equilateral triangle. Output should be as displayed

In [ ]:
import math
side = float("Enter the side of the equilateral triangle: ")
area = ((math.sqrt(3))/4)*pow(side,2)

Enter the side of the equilateral triangle: 4
Area =  6.928

## 2. Write a program to count the number of each characters in a string

## Write a program to find the area and perimeter of a rectangle using functions

## 4. Write a program to print the fibonacci series till a specified number

## 5. Complete the following code to find the minimum of 3 number using cinditional statements. Output should be as displayed

In [ ]:
a,b,c = input("Enter three numbers followed by  : ").split()

print("First number :",a)
print("Second number :",b)
print("Third number :",c)

    print("Entered numbers are equal!!!")

    print(a," is smallest")

    print(b," is smallest")

    print(c," is smallest")

In [ ]:
a,b,c = input("Enter three numbers followed by space : ").split()

print("First number :",a)
print("Second number :",b)
print("Third number :",c)

    print("Entered numbers are equal!!!")

    print(a," is smallest")

    print(b," is smallest")

    print(c," is smallest")

Enter three numbers followed by  : 3 -11 12
First number : 3
Second number : -11
Third number : 12
-11  is smallest

## 6. Write a program to print star pyramind. The number of rows should be taken as input from the user

## 7. Complete the following code to convert hour into seconds. Output should be as displayed

In [ ]:
def to_seconds(t):
    
    return t
time_in_hours = 
print(time_in_hours ," Hour is equal to" ,to_seconds(time_in_hours) ," Seconds")

Enter time in Hours :12
12  Hour is equal to 43200  Seconds

## 8. Write a program to print multiplication table as below

Enter a number to find the multiplication table: 4
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40

## 9. Write a program to take your 5 favorite food as list and print each as 'I like Biriyani'

Enter your favorite food list followed by space : Biriyani Apple Orabge
I like  Biriyani
I like  Apple
I like  Orabge

## 10. Find error(s) in the following code(if any) and rewrite code.

In [ ]:
x= int(“Enter value of x:”)
for in range [0,10]
     if x=y
          print("They are equal")
     else:
         Print( "They are unequal")